/* form */

#contact-form {
  flex: 1;
}

.contact-img {
  flex: 1;
  margin: 0 auto 30px auto;
  padding: 10%;
  padding-top: 0;
  /* max-height: 70vh;
  overflow-y: hidden; */
}

form {
  border: var(--color_subtle) solid 2px;
  border-radius: 5px;
  /* margin-bottom: 20px; */
  padding: 20px;
}

.form__input {
  display: block;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.checkbox {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

textarea {
  height: 100px;
}

.contact-img {
  border-radius: 30px;
}

.contact-main h1 {
  margin: 5% auto;
}

label {
  margin-bottom: 10px;
}
