.list-of-post_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.thumbnail {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  border: 3px solid var(--color_light-green);
  border-radius: 3px;
  text-decoration: none;
  color: var(--color_grey);
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 1.5em;
}

.h2-category::before {
  content: "~";
}

.h2-category::after {
  content: "~";
}
.list-of-post_container .thumbnail:hover {
  background-color: var(--color_light-green);
  background-color: var(--color_light-green);
}
.img-wrapper {
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  margin: 10px;
}

.thumbnail_title {
  font-weight: bold;
}
.thumbnail_date {
  max-width: fit-content;
  margin-bottom: 10px;
  border-bottom: solid 1px grey;
  place-self: end;
}

.category-thumbnail,
.thumbnail_date {
  font-size: 16px;
}
.category-thumbnail {
  text-align: right;
  margin-top: 0;
  /* margin-bottom: 0; */
}

.thumbnail-text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  justify-content: space-around;
  /* gap: 20px; */
}

.thumbnail-text-wrapper > .category-thumbnail {
  display: block;
}

h3 {
  margin: 0;
}

select {
  border: var(--color_light-green) 3px solid;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  color: var(--color_grey);
  font-size: 18px;
  font-family: "Barlow", Cambria, Cochin, Georgia, serif;
  margin: 20px 0;
}

select:hover {
  /* background-color: var(--color_light-green); */
  background-color: var(--color_light-green);
}

/* search */

.main-search {
  padding: 0;
  margin: 0;
}
.search {
  display: flex;
  border-bottom: 2px solid var(--color_grey);
}
input {
  min-height: 40px;
  border: none;
  padding-left: 10px;
  width: 100%;
}

.search-button {
  font-size: large;
}

button {
  border: none;
  background-color: white;
}

.view-more {
  color: var(--color_grey);
  margin: 20px auto;
  text-decoration: underline;

  display: block;
  font-size: large;
  padding: 10px 20px;
  cursor: pointer;
  font-style: italic;
}

.view-more:hover {
  background-color: var(--color_light-green);
}

.categories-thumbnail-container {
  display: block;
}

.list-of-post_wrapper {
  margin: 30px auto;
}
