@media (min-width: 900px) {
  .carousel_item {
    display: flex;
    flex-direction: row;
  }

  .carousel-text-wrapper {
    padding-left: 40px;
  }
  .carousel-nav {
    bottom: 0px;
  }
  .arrow {
    bottom: 40%;
  }
  .read-button {
    position: static;
  }
}

@media (min-width: 700px) {
  body {
    font-size: 21px;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  .nav-wrap {
    display: block;
    min-width: 300px;
    order: -1;
  }
  nav {
    width: 400px;
    height: fit-content;
    padding: 0;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color_background);
  }

  #hamburger-icon {
    display: none;
  }

  .thumbnail {
    flex-direction: row;
    height: 100px;
  }
}
