@media (min-width: 800px) {
  .carousel_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .carousel-text-wrapper {
    padding: 0 40px;
    padding-right: 60px;
    margin: auto;
  }
  .carousel-nav {
    bottom: 0px;
  }
  .arrow {
    bottom: 40%;
  }

  .forward {
    margin-right: 15px;
  }
  .back {
    margin-left: 15px;
  }
  .read-button {
    position: static;
  }
  body {
    font-size: 21px;
  }

  main {
    max-width: 700px;
    margin: 0 auto;
  }
  .main-search {
    width: 100%;
    padding: 0;
  }

  .main-full {
    max-width: none;
  }

  h1 {
    font-size: 4rem;
  }

  .carousel_title {
    font-size: 3rem;
  }

  .nav-wrap {
    display: block;
    min-width: 300px;
    order: -1;
  }
  nav {
    width: 400px;
    height: fit-content;
    padding: 0;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
  }

  #hamburger-icon {
    display: none;
  }

  .thumbnail {
    flex-direction: row;
    /* height: 120px; */
    margin: 20px auto;
  }

  .featured-one-container,
  .categories-container {
    margin: auto;
    max-width: 100%;
    justify-content: flex-start;
    flex-direction: row;
  }

  header {
    margin: 20px 30px 50px 40px;
  }

  .about-frame {
    max-width: 600px;
    /* margin: 0; */
  }

  section {
    padding: 8%;
  }

  h2 {
    margin: 0 auto 5% auto;
  }
}

@media (min-width: 1300px) {
  main {
    max-width: 1000px;
  }

  .carousel_title {
    font-size: 5rem;
    margin: auto;
  }
  /* .content > p,
  .content > ul {
    margin-left: 400px;
  } */

  header {
    margin-right: 10%;
  }

  .dot {
    height: 15px;
    width: 15px;
  }
}
