h1,
.wp-block-post-date,
.wp-block-post-terms {
  text-align: center;
  margin: 0;
}
.wp-block-post-date,
.wp-block-post-terms {
  font-size: 0.8em;
}

.wp-block-post-terms {
  margin-bottom: 80px;
}
figure {
  max-width: 500px;
  /* margin-left: 0; */
  cursor: pointer;
  height: auto;
}

.content {
  margin-top: 0;
}
img {
  /* width: 100%; */
  height: auto;
}

.content .wp-block-image:nth-child(2) {
  float: right;
}

a {
  color: var(--color_grey);
}

p {
  line-height: 180%;
}

/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  /* opacity: 0; */
  /* transform: scale(1.1); */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: 50rem;
}

.show-modal {
  visibility: visible;
  /* opacity: 1; */
  /* transform: scale(1.1); */
}
.categories-post-container {
  display: flex;
}

.category-post {
  border-right: solid grey 1px;
  padding: 0 10px;
  /* font-style: italic; */
}

.wp-block-latest-comments__comment-avatar {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 30px;
  height: fit-content;
}

.wp-block-latest-comments__comment-link {
  display: none;
}

.wp-block-latest-comments__comment-author {
  display: block;
}

.wp-block-latest-comments__comment-excerpt {
  border: 1px solid grey;
  border-radius: 50px;
  padding: 0 20px;
}
.wp-block-latest-comments__comment-excerpt > p {
  margin: 10px;
}
li.wp-block-latest-comments__comment::marker {
  display: none;
  /* color: var(--color_background); */
}

.wp-block-latest-comments__comment-meta {
  justify-content: flex-start;
  gap: 20px;
  background-color: white;
  color: var(--color_black);
  margin-bottom: 0;
  padding: 0;
}

.wp-block-latest-comments__comment {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: auto;
  border-top: 1px solid rgb(187, 185, 185);
  margin-top: 100px;
}

#respond {
  max-width: 400px;
  margin: auto;
}

.comment {
  border: solid 1px grey;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
}

.comment-meta {
  display: flex;
  order: 1;
}
