h1,
.wp-block-post-date,
.wp-block-post-terms {
  text-align: center;
  margin: 0;
}
.wp-block-post-date,
.wp-block-post-terms {
  font-size: 0.8em;
}

/* .wp-block-post-terms {
  margin-bottom: 80px;
} */
figure {
  max-width: 500px;
  cursor: pointer;
  height: auto;
  margin: 30px auto;
}

.content {
  max-width: 600px;
  margin: auto;
}
img {
  /* width: 100%; */
  height: auto;
}

.content .wp-block-image:nth-child(2) {
  float: right;
}

a {
  color: var(--color_grey);
}

p {
  line-height: 180%;
}

/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  /* opacity: 0; */
  /* transform: scale(1.1); */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: 50rem;
}

.show-modal {
  visibility: visible;
  /* opacity: 1; */
  /* transform: scale(1.1); */
}
.categories-post-container {
  display: flex;
}

.category-post {
  border-right: solid grey 1px;
  padding: 0 10px;
  /* font-style: italic; */
}

.related-posts-container {
  display: flex;
  gap: 30px;
}

.thumbnail {
  flex: 1;
}

#comment-form {
  max-width: 100%;
  margin: auto;
}

.user-comment {
  border: 3px lightgray solid;
  text-align: left;
  margin: 10px auto 30px auto;
  padding: 20px 40px;
  border-radius: 40px;
  display: flex;
  gap: 50px;
  max-width: 600px;
}

.user-comment p {
  margin: 0;
  order: 2;
}

.taxonomy-category a {
  pointer-events: none;
}

#postId {
  display: none;
}

.previous-comments p {
  text-align: center;
}

#comment-form {
  padding: 20px 0;
}
