h1,
.wp-block-post-date,
.wp-block-post-terms {
  text-align: center;
  margin: 0;
}
.wp-block-post-date,
.wp-block-post-terms {
  font-size: 0.8em;
}

.blog-container {
  text-align: center;
  min-height: 100vh;
}
figure {
  max-width: 500px;
  cursor: pointer;
  height: auto;
  margin: 30px auto;
  transition: transform 0.3s ease-in-out;
}

figure:hover {
  transform: scale(1.05);
}
.content {
  max-width: 600px;
  margin: auto;
  text-align: left;
}
img {
  /* width: 100%; */
  height: auto;
}

a {
  color: var(--color_grey);
}

p {
  line-height: 180%;
}

/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  max-width: 100vw;
  /* opacity: 0; */
  /* transform: scale(1.1); */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: 50rem;
}

.show-modal {
  visibility: visible;
  /* opacity: 1; */
  /* transform: scale(1.1); */
}
.categories-post-container {
  display: flex;
}

.category-post {
  border-right: solid grey 1px;
  padding: 0 10px;
  /* font-style: italic; */
}

.related-posts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.thumbnail {
  flex: 1;
}

/* #comment-form {
  max-width: 100%;
  margin: 0 auto;
} */

.user-comment {
  border: 2px solid var(--color_light-green);
  text-align: left;
  margin: 10px auto 30px auto;
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  max-width: 600px;
  border-radius: 3px;
}

.user-comment p {
  margin: 0;
  order: 2;
}

.taxonomy-category a {
  pointer-events: none;
}

#postId {
  display: none;
}

.previous-comments {
  margin-bottom: 20%;
}

.previous-comments p {
  text-align: center;
}

#comment-form {
  padding: 0;
}

.comment-meta {
  border-right: 1px solid var(--color_light-green);
  padding-right: 20px;
}
