@import "variables.css";
@import "ui.css";
/* @import "listOfPosts.css"; */

/* global */
body {
  background-color: var(--color_background);
  font-size: 16px;
  font-family: "arsenal", Cambria, Cochin, Georgia, serif;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}
img {
  width: 100%;
}

main {
  padding: 0 8%;
  margin: 0 auto;
}

/* h1,
h2 {
  font-family: "Libre Caslon Display";
} */
.cta {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: var(--color_black);
  background-color: #d99c9c;
  padding: 10px 20px;
  margin: 5% auto;
}

.cta:hover {
  background-color: #a77272;
}

li {
  line-height: 200%;
}
/* header */
.logo {
  font-family: "Oooh Baby", cursive, serif;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

header {
  margin: 20px;
  margin-bottom: 10px;
}
header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

footer {
  margin-top: 10%;
}
#hamburger-menu,
nav {
  display: none;
  z-index: 10;
  background-color: var(--color_beige);
}

.search_icon {
  text-decoration: none;
  color: var(--color_black);
}
nav {
  padding: 20px 20px;
  height: 100px;
  justify-content: space-around;
}

.nav-search-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 25px;
}

nav a {
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  /* margin-bottom: 10px; */
  color: var(--color_grey);
}

#hamburger-icon {
  margin-left: 10px;
}

.current {
  text-decoration: underline;
}

.fa-brands {
  margin: 0 2px;
}

/* carousel */
.carousel {
  position: relative;
  /* background-color: var(--color_background); */
  background-color: #f6ebe2;
  padding-top: 30px;
  cursor: pointer;
}

.carousel_item {
  color: var(--color_grey);
  margin: 0 40px;
}

.carousel:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.img-wrapper {
  flex: 2;
}
.carousel-text-wrapper {
  flex: 1;
  position: relative;
  align-items: center;
  padding: 0 30px;
}

.carousel-text-wrapper p {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--color_black);
}
.carousel-nav {
  width: 100%;
  /* background-color: #f6ebe2; */
  margin: 5px auto;
  left: 0;
  text-align: center;
}

/* .carousel-item_selected {
  display: block;
} */

.arrow {
  bottom: 50%;
  color: var(--color_grey);
  position: absolute;
  cursor: pointer;
  padding: 20px 10px;
  background-color: #f6ebe2;
  border: none;
  font-size: 1em;
}

.forward {
  right: 0;
}

.arrow:hover {
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: var(--color_grey);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--color_beige);
  border-radius: 50%;
  display: inline-block;
  margin-block-end: 5px;
  bottom: 20px;
}

.carousel-dot_selected {
  /* background-color: aquamarine; */
  background-color: var(--color_grey);
}

/* about */

.about-frame,
.about-img {
  max-width: 600px;
  margin: auto;
}

.read-button {
  background-color: #d99c9c;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 18px;
  color: var(--color_black);
  display: inline-block;
  max-width: fit-content;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 80px;
}

.carousel_title {
  margin-bottom: 0;
  font-size: 1.5em;
}

.category {
  font-style: italic;
}
.category-name {
  display: inline-block;
  margin: 10px;
  border: var(--color_beige) 3px solid;
  border-radius: 10px;
  padding: 10px 20px;
}

.category-name:hover {
  background-color: var(--color_beige);
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-search {
  margin: 0;
}
