/* .breadcrumb {
  margin: 20px 0 30px 0;
  grid-column: 1/3;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--color_header);
  display: inline-block;
} */
/* 
.form {
  position: relative;
} */

#current,
.current-page {
  text-decoration: underline;
}

/* user alert */
.form-error {
  color: darkred;
}

.error,
.success,
.neutral {
  font-size: 1.2em;
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
}

.error {
  color: darkred;
  border: darkred 2px solid;
  background: rgb(248, 231, 231);
}
.success {
  color: darkgreen;
  border: green solid 2px;
  background: rgb(222, 248, 222);
}

.neutral {
  border: var(--black) solid 2px;
  background: white;
}

/* loader */

.fa-spinner {
  margin: 100px auto;
  font-size: 5em;
  color: var(--color_beige);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  /* 50% {
    transform: rotate(90deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}
