:root {
  --color_background: #f2f2f0;
  --color_beige: #e6d3c3;
  --color_black: #3d3d3d;
  --color_grey: #5c5c5c;
  --color_cream: #fcf4ed;
  --color_pink: #d99c9c;
  --color_green: #4b7a71;
  --color_light-green: #d4e2d5;
}
